html
  head
    title Dados NodeMCU
  body
    h2 Dados NodeMCU
    table(border='1')
      thead
        tr
          th luminosidade
          th temperatura
          th umidade
      tbody
        each dado in dados
          tr
            td #{dado.luminosity}
            td #{dado.temperature}
            td #{dado.moisture}
